#android-unlock-region {
	text-align: center;
}

#circleOut1, #circleOut2, #circleOut3, 
#circleOut4, #circleOut5, #circleOut6,
#circleOut7, #circleOut8, #circleOut9 {
	width: 60px;
	height: 60px;
	background: gray;
	position: relative;
}

#circleIn1, #circleIn2, #circleIn3,
#circleIn4, #circleIn5, #circleIn6,
#circleIn7, #circleIn8, #circleIn9 {
	width: 50px;
	height: 50px;
	background: black;
	position: absolute;
	top: 5px;
	left: 5px;
	display: block;
}

.circle {
	border-radius: 50%;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px;
}

