#android-unlock-region {
	text-align: center;
	cursor: pointer;
}

.circle {
	border-radius: 50%;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px;
}

.outer {
	width: 60px;
	height: 60px;
	background: #444;
	position: relative;
}


.middle {
	width: 52px;
	height: 52px;
	background: #222;
	position: absolute;
	top: 4px;
	left: 4px;
	display: block;
	margin: 0;
}

.inner {
	width: 24px;
	height: 24px;
	background: #eee;
	position: absolute;
	top: 13px; /* (50-24)/2 */
	left: 13px;
	display: block;
	margin: 0;
}




